//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9
//Part Number: GW5A-LV25UG324ES
//Device: GW5A-25
//Device Version: A
//Created Time: Fri 11 07 02:16:05 2025

IO_LOC "usb_dxp_io" U5,V5;
IO_PORT "usb_dxp_io" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "usb_pullup_en_o" M11;
IO_PORT "usb_pullup_en_o" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "usb_term_dn_io" V7;
IO_PORT "usb_term_dn_io" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "usb_term_dp_io" U7;
IO_PORT "usb_term_dp_io" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "pwm2" U16;
IO_PORT "pwm2" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "pwm1" U15;
IO_PORT "pwm1" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "adccoe" V11;
IO_PORT "adccoe" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "adcclk" U11;
IO_PORT "adcclk" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "usb_rxdn_i" T12;
IO_PORT "usb_rxdn_i" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "usb_rxdp_i" N5;
IO_PORT "usb_rxdp_i" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "CLK_IN" T9;
IO_PORT "CLK_IN" IO_TYPE=LVCMOS25D PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "adpin[7]" P17;
IO_PORT "adpin[7]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[6]" P18;
IO_PORT "adpin[6]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[5]" N17;
IO_PORT "adpin[5]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[4]" N18;
IO_PORT "adpin[4]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[3]" L17;
IO_PORT "adpin[3]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[2]" L18;
IO_PORT "adpin[2]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[9]" P15;
IO_PORT "adpin[9]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[8]" P16;
IO_PORT "adpin[8]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[0]" K18;
IO_PORT "adpin[0]" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adpin[1]" K17;
IO_PORT "adpin[1]" PULL_MODE=NONE BANK_VCCIO=3.3;
